.loader {
  width: 100%;
  min-height: 100px;
  text-align: center;
  .bubble {
    display: inline-block;
    padding: 0px 5px;

    @for $i from 1 to 3 {
      &:nth-of-type(#{$i}) .circle {
        animation-delay: $i * 0.1s;
      }
    }

    .circle {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: rgb(189, 165, 152);
      animation: pulse 1.5s infinite;
      box-shadow: 0px 0px 8px rgba(202, 171, 145, 0.5);
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.2);
      opacity: 0.75;
    }
    100% {
      transform: scale(1);
    }
  }
}