.form__container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  justify-content: center;
  margin: auto;
  width: 70%;

  .form__image-wrapper { 
    flex-basis: 70%;

    .form__image {
      height: 100%;
      width: 100%;
    }
  }

  .form__wrapper {
    background-color: rgb(247, 242, 238);
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    justify-content: space-around;

    .form__title {
      margin: 0 auto;
    }

    .form__text {
      align-self: center;
      color: rgb(153, 148, 148);
      line-height: 2;
      max-width: 70%;
      text-align: center;
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: auto;

      .form-group__wrapper {

        .form-group__label {
          color: #d4bea4;
          display: block;
          font-size: 18px;
          margin: 5px 0;
        }

        .form-group__input {
          background-color: transparent;
          border-color: rgb(129, 129, 129);
          border-width: 0 0 2px;
          color: rgb(153, 148, 148);
          font-size: 17px;
          font-weight: bold;
          outline: none;
          padding: 12px 20px;
        }

        .form__forgot-password__wrapper {
          margin: 10px 0;
          text-align: end;
  
          .form__forgot-password__link {
            color: rgb(136, 124, 109);
  
            &:hover {
              color: rgba(0, 0, 0, 0.25);
            }
          }
        }

        .form-group__input__invalid-feedback {
          color: rgb(243, 104, 104);
          min-height: 40px;
          width: 100%;
        }
      }

    }
  }
}
