body{
    background: linear-gradient(#fdfcfb,#e2d1c3) no-repeat;
}

.wrapper{
    color:#000000;
    max-width: 90%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}