@import '~normalize.css';

body {
  background: linear-gradient(#fdfcfb, #e2d1c3) no-repeat;

  .wrapper {
    color: #000;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 90%;
    min-height: 100vh;
  }
}
