@import '~normalize.css';

body {
  background: linear-gradient(to left bottom, rgb(253, 252, 251), rgb(240, 230, 221), rgb(236, 213, 194)) no-repeat;

  .main {
    color: #000;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 90%;
    min-height: 100vh;
  }
}
