.avatar__section {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  .button {
    background-color: transparent;
    border: 0;
    color: rgb(131, 123, 112);
    cursor: pointer;
    outline: none;
    text-decoration: underline;
  }
  
}

.file__input {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}
