.header {
  background: rgb(226, 215, 205);
  box-shadow: 0 14px 28px rgba(95, 84, 84, 0.25), 0 10px 10px rgba(182, 167, 167, 0.22);
  padding: 30px;
  position: fixed;
  width: 100vw;

  .menu {
    display: flex;

    &__item {
      list-style-type: none;
    }
  }
}
