.form__button {
  background-color: transparent;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 5px;
  box-shadow: 0  17px 10px -10px rgba(0, 0, 0, 0.4);
  color: #887c6d;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 20px auto;
  outline: none;
  padding: 7px;
  transition: all ease-in-out 300ms;
  width: 200px;

  &:hover {
    background-color: #887c6d;
    box-shadow: 0  37px 20px 5px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    transform: translate(0, -10px);
  }
}
