@import '../../../scss/mixins/mixins.scss';

.form__container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  margin: auto;
  width: 70%;

  .form__image-wrapper { 
    flex-basis: 70%;

    .form__image {
      @include size(100%, 100%);
    }
  }

  .form__wrapper {
    @include flex-column-justify-content(space-around);
    background-color: rgb(247, 242, 238);
    flex-basis: 30%;

    .form__title {
      text-align: center;
    }

    .form {
      @include flex-column-justify-content(space-between);
      margin: auto;
    }
  }
}
