.settings__container {
  // background: rgb(226, 215, 205);
  background-image: linear-gradient(rgb(202, 199, 198), rgb(223, 215, 205), rgb(219, 219, 219), rgb(234, 234, 234));
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  margin: 70px 0;
  padding: 70px;

  .menu {
    border-right: 1px solid rgb(180, 173, 173);
    flex-basis: 25%;
  }

  .settings__form__wrapper {
    flex-basis: 75%;
  }
  
}

