.signUpForm-wrapper {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .form-image {
    flex-basis: 70%;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .signUp-form {
    background-color: rgb(247, 242, 238);
    display: flex;
    flex-basis: 30%;
    flex-direction: column;

    .form-title {
      margin: 0 auto;
    }

    form {
      margin: auto;
      .form-group {
        max-width: 70%;
        label {
          display: block;
          color: #d4bea4;
          font-size: 18px;
          margin: 5px 0;
        }
        .form-input {
          background-color: transparent;
          border-width: 0 0 2px;
          border-color: rgb(129, 129, 129);
          outline: none;
          font-size: 17px;
          color: rgb(153, 148, 148);
          font-weight: bold;
          padding: 12px 20px;
        }

        .invalid-feedback {
          min-height: 40px;
          width: 100%;
          color: rgb(243, 104, 104);
        }
      }
      .form-button {
        display: block;
        background-color: transparent;
        outline: none;
        width: 200px;
        padding: 7px;
        border: 1px solid rgb(129, 129, 129);
        color: #887c6d;
        font-weight: bold;
        border-radius: 5px;
        margin: 20px auto;
        cursor: pointer;
        &:hover {
          background-color: #887c6d;
          color: rgb(255, 255, 255);
          transition: 0.5s;
        }
        &:disabled {
          background-color: inherit;
          cursor: default;
          &:hover{
            background-color:inherit;
            color: #887c6d;
          }
        }
      }
    }
  }
}
